<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="https://d30y9cdsu7xlg0.cloudfront.net/png/17241-200.png">
        </a>
    </div>
    <div class="media-body">
        <br />
        <h4 class="media-heading"><b>Name: </b>{{user.add}}</h4><br />
        <p class="media-middle"><b>Company: </b>{{user.company}}</p>
        <p class="media-body"><b>About: </b>{{user.about}}</p>
        <ul>
            <li><b>Street: </b>{{user.address.streetAddress}}</li>
            <li><b>City: </b>{{user.address.city}}</li>
            <li><b>State: </b>{{user.address.state}}</li>
            <li><b>Zip: </b>{{user.address.zip}}</li>
        </ul><br />

        <hr />

    </div>
</div>